In [8]:
#http://pandas.pydata.org/pandas-docs/stable/10min.html

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

s = pd.Series([1,3,5,np.nan,6,8])

# print s

dates = pd.date_range('20130101', periods=6)

# print dates

df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

# print df

df2 = pd.DataFrame({ 'A' : 1.,
                      'B' : pd.Timestamp('20130102'),
                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                      'D' : np.array([3] * 4,dtype='int32'),
                      'E' : pd.Categorical(["test","train","test","train"]),
                      'F' : 'foo' })
print df2
# print df2.dtypes

#view basic data:

# print df.head()
# print df.tail(2)
# print df.index
# print df.columns
# print df.values
# print df.describe()

# transpose data
# print df.T
# print df.T.T

# sort by axis
# df.sort_index(axis=0, ascending=True)

# df.sort_values(by='A')

# selecting a single column which yields a Series
df.A
df['A']

# selecting via [] slices rows
df[0:2]
df['20130101':'20130103']

# selection by label
df.loc[dates[0]]
df.loc[:,['C', 'A']]
df.loc['20130102':'20130104',['A','B']]
df.loc['20130102',['A','B']]


df.at[dates[0],'A']
# equivalent to 
df.loc[dates[0],'A']

# selection by position
df.iloc[3] #gives third row
df.iloc[[1,2,4],[0,2]]
df.iloc[3:5,0:2]


# boolean indexing
df[df.A > 0.3]

# returns full df with altered values interesting
df[df > 0]

df2 = df.copy()

df2['E'] = ['one', 'one','two','three','four','three']

df2[df2['E'].isin(['four'])]

# setting values
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df['F'] = s1
df

# Missing Data

df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

df1.loc[dates[0]:dates[1], 'E'] = 1

# print df1

# drop any rows missing data

df1.dropna(how='any')
df1.fillna(value=5)
pd.isna(df1)

# stats
print df
# df.mean()
df[df.isnull().any(axis=1)]

# apply functions to the data

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo
                   A         B         C         D    F
2013-01-01 -0.161668  1.381639  0.730923  0.713655  NaN
2013-01-02  0.207232  0.085185  0.756342  0.903593  1.0
2013-01-03 -1.123355 -2.149663 -0.437828 -0.040400  2.0
2013-01-04 -2.048310 -0.420198 -0.343947  0.709153  3.0
2013-01-05 -1.008061 -0.202256  0.889024  0.701278  4.0
2013-01-06 -0.096754  1.512109  1.522380 -0.105176  5.0

                   A         B         C         D   F
2013-01-01 -0.161668  1.381639  0.730923  0.713655 NaN